.odd {
  background-color: pink;  
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;

}

.second {
    color: blue;
    font-size: 36px;
}

#text {
    font-size: 24px;
}

.four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}